{% extends 'base.html.twig' %}

{% block title %}Nkinel - Panier{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Votre panier</h1>

{# Message flash lors de l'ajout au panier #}
{% for message in app.flashes('add_panier') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
    {% for message in app.flashes('remove_panier') %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
    {% for message in app.flashes('clear_panier') %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

    {% if items is empty %}
    <p><b>Votre panier est vide !!</b></p>
    {% else %}

    <a href="{{ path('panier_clear') }}" onclick="return confirm('Etes-vous sure de vouloir vider tout le panier ?');" class="btn btn-warning mb-2"><i class="bi-trash-fill me-1"></i> Vider le panier</a>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Produit</th>
                {# <th scope="col">Catégorie</th> #}
                <th scope="col">Prix (en €)</th>
                <th scope="col">Quantité</th>
                <th scope="col">Stock</th>
                <th scope="col">Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{ item.article.id }}</th>
                <td>
                <img src="{{ asset('/uploads/' ~ item.article.image) }}" alt="" style="width: 75px; height: 75px; object-fit: contain">
                
            </td>
                <td>{{ item.article.nom }}</td>
                {# <td></td> #}
                <td>{{ item.article.prix }} €</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.article.stock }}</td>
                <td>{{ item.article.prix * item.quantity }} €</td>
                {% if app.user and article.stock > 0 %}
                <td>
                <form action="{{ path('app_panier_add', {article: article.id}) }}" method="post">
                    {# <input type="hidden" name="csrf_token" value="{{ csrf_token('ajouter_panier') }}" /> #}
                    <input type="number" name="qtte" id="qtte" min="1" max="{{article.stock}}" step="1"
                        placeholder="Quantité" style="max-width: 50px;" value="1">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </button>
                </form>
            </td>
            {% elseif app.user and article.stock == 0 %}
            <td class="text-danger">Rupture de stock</td>
            {% endif %}
                <td>
                    <a class="btn btn-danger flex-shrink-0" onclick="return confirm('Suppimer cet élément du panier ?');" href="{{ path('panier_delete', {id: item.article.id}) }}">
                        <i class="bi bi-cart-dash-fill me-1"></i>
                    </a>
                    <a class="btn btn-primary flex-shrink-0" onclick="return confirm('Ajouter cet élément du panier ?');" href="{{ path('panier_add', {id: item.article.id}) }}">
                        <i class="bi-cart-plus-fill me-1"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">TOTAL</td>
                <td>{{ total }} €</td>
                <td>
                    <form action="#" method="POST">
                        <button type="submit" class="btn btn-primary">PAYER ({{ total }} €)</button>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>

    {% endif %}
</div>
{% endblock %}