{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class = 'container mt-2'>
    <h1>Contactez nous !</h1>

    {{form_start(form)}}
    <div class="row">
        <div class="col">
        {{form_row(form.name, {'label':'Votre Nom '})}} {# 'label' : #}
        </div>
        <div class="col">
        {{form_row(form.email, {'label':'Votre email'})}} {# 'label' : #}
        </div>
        <div class="col-12">
        {{form_row(form.message)}}
        </div>
    
    {{form_end(form)}}
    </div>
</div>

{% endblock %}


{% block script_js %}
{% if app.session.flashBag.has('mail_info') %}
	<script>
		Toastify({
text: "{{ app.session.flashBag.get('mail_info')[0] }}",
duration: 3000,
destination: "https://github.com/apvarun/toastify-js",
newWindow: true,
close: true,
gravity: "top",
position: "center",
stopOnFocus: true,
style: {
background: "linear-gradient(to right, #FF0000, #DC143C)"
}
}).showToast();
	</script>
{% endif %}
{% endblock %}
