{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class = 'container mt-2'>
    <h1>Contactez nous !</h1>

    {{form_start(form)}}
    <div class="row">
        <div class="col">
        {{form_row(form.name, {'label':'Votre Nom '})}} {# 'label' : #}
        </div>
        <div class="col">
        {{form_row(form.email, {'label':'Votre email'})}} {# 'label' : #}
        </div>
        <div class="col-12">
        {{form_row(form.message)}}
        </div>
    
    {{form_end(form)}}
    {# <input type="submit" class="btn btn-primary mt-3 mb-4" value="Enregistrer"> #}
</div>
{% endblock %}