{% extends 'base.html.twig' %}

{% block title %}{{article.nom|capitalize}}{% endblock %}

{% block body %}

<section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                    {% if article.image %}
                    <img class="card-img-top" src="{{ asset('/uploads/' ~ article.image) }}" alt="..." />
                    {% else %}
                    <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-{{article.id}}</div>
                        <h1 class="display-5 fw-bolder">{{article.nom|upper}}</h1>
                        <div class="fs-5 mb-5">
                            <span>{{article.prix}}€</span>
                        </div>
                        <p class="lead">{{article.description}}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <a class="btn btn-outline-dark flex-shrink-0" href="{{ path('panier_add', {id: article.id})}}">
                                <i class="bi-cart-fill me-1"></i>
                                Ajouter au panier
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
